.contact {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.colmd4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.textcenter {
  text-align: center;
}